  .title {
    text-align: left;
    width: 100%;
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .label {
    color: gray;
    margin-bottom: 10px;
    display: inline-block;
  }

  .desc {
    color: gray;
    margin-bottom: 30px;
  }
  
  .input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #f8f8f8;
    width: 100%;
    font-size: 1.2rem;
  }
  
  .button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: #3375BB;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    margin-right: 10px;
    
  }

  .button:disabled {
    background-color: #ccc;
    cursor:not-allowed;
  }