.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #f8f8f8;
    width: 400px;
    font-size: 1.2rem;
  }
  
  .button {
    background-color: #3375BB;
    color: white;
    font-size: 13px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin: 30px 10px 0 0;
  }

  .button:disabled {
    background-color: #ccc;
    cursor:not-allowed;
  }
  
  .error {
    color: #ff3d3d;
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 1rem;
  }
  