.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdowns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.label {
    font-size: 15px;
    color: #3375BB;
    margin-bottom: 10px;
    display: block;
}
  